@model IEnumerable<FribergCarRentalApp.Models.Car>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pb-3">
    <img src="/images/full logo.png" alt="Alternate Text" class="position-relative w-25" />
    <h1 class="display-5">Welcome to Friberg Car Rentals</h1>
</div>

<div>
    <h2>Available Cars</h2>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Make)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PricePerDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrls)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PricePerDay)
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary btn-sm" href="@item.ImageUrls" target="_blank">Show Car Image</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm  col-auto" asp-controller="Customers" asp-action="CreateBooking" asp-route-carId="@item.Id">Book Now</a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



